@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

// BASE
html,
body {
	position: relative;
	height: 100%;
}

:root {
	--swiper-theme-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Text';
}

// UTILS
@mixin flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

// COMPONENTS
.swiper-container {
	width: 100%;
	height: 100%;
	height: 500px;
	@include media-breakpoint-up(xl) {
		height: 700px;
	}
}

.swiper-slide {
	height: 100%;
	color: $white;
	background-size: cover;
	background-position: center center;
	@include flex-centered();
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

	h1 {
		font-size: 3rem;
	}

	@include media-breakpoint-up(xl) {
		h1 {
			font-size: 6rem;
		}
	}
}

// LAYOUT

// PAGE(s)
