@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

// BASE
:root {
	--swiper-theme-color: #fff;
}

html,
body {
	position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Text';
}

section {
	padding: 2rem 0;

	@include media-breakpoint-up(xl) {
		padding: 3rem 0;
	}
}

q {
	color: $gray-600;
	margin-bottom: 0.5em;
	display: block;
}

// UTILS
@mixin flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

@mixin bg-cover($path: false) {
	@if $path {
		background-image: url($path);
	}
	background-size: cover;
	background-position: center center;
}

// COMPONENTS
.swiper-container {
	width: 100%;
	height: 100%;
	height: 500px;
	@include media-breakpoint-up(xl) {
		height: 700px;
	}
}

.swiper-slide {
	height: 100%;
	color: $white;
	background-size: cover;
	background-position: center center;
	@include flex-centered();
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

	h1 {
		font-size: 3rem;
	}

	@include media-breakpoint-up(xl) {
		h1 {
			font-size: 6rem;
		}
	}
}

// LAYOUT
section.cover {
	padding: 0;
}

// PAGE(s)
#home {
	section#intro {
		text-align: center;

		#intro-text {
			@include flex-centered();
		}
	}

	section#features {
		.feature {
			@include bg-cover();
			@include flex-centered();
			min-height: 300px;
			position: relative;
			overflow: hidden;

			&:nth-child(1) {
				background: url('../images/expert.jpg');
			}

			&:nth-child(2) {
				background: url('../images/wall-mount.jpg');
			}

			&:nth-child(3) {
				background: url('../images/apartment.jpg');
			}

			&:hover {
				.overlay {
					background: rgba(0, 0, 0, 0.8);
					border: 10px solid $secondary;
				}
			}

			.overlay {
				background: rgba(0, 0, 0, 0.4);
				transition: all 0.4s;
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.content {
				z-index: 2;
				color: white;
				max-width: 200px;

				h2 {
					margin-bottom: 1em;
				}
			}
		}
	}
}
